<!DOCTYPE html>
<html>
<head>
  <title>Josue Valverde</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "custom", :media => "all" %>
  <%= stylesheet_link_tag "demo", :media => "all" %>
  <%= stylesheet_link_tag "home", :media => "all" %>
  <%= stylesheet_link_tag "responsive", :media => "all" %>
  <%= stylesheet_link_tag "rs-plugin-styles", :media => "all" %>
  <%= stylesheet_link_tag "theme-base", :media => "all" %>
  <%= stylesheet_link_tag "theme-elements", :media => "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="header" class="header-dark">
        <div id="header-wrap">
            <div class="container">


                <!--LOGO-->
                <div id="logo">
                    <a href="/" class="logo" data-dark-logo="images/logo-dark.png">
                        <%= image_tag('logo.png') %>
                    </a>
                </div>
                <!--END: LOGO-->

                <h1>Here</h1>

            </div>
        </div>
    </header>


    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>

  <%= yield %>

</body>
</html>
